<header>
    <!--I couldn't get this logo from fontawesome to work-->
        <li><i class="fas fa-map-marked-alt"></i></li>
        <h1><a href=index.html>TE Travel Experts</a></h1>
    <nav>
        <ul>
            <li><a href=index.html>Home</a></li>
            <li><a href=register.html>Register</a></li>
        </ul>
    </nav>
</header>
