<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="login.css">
    <link rel= "stylesheet" type="text/css" href="typology.css">
    <link rel= "stylesheet" type="text/css" href="resets.css">
    <%- include('./partials/header.ejs'); %>
    <title>Customer Login</title>
</head>

  <body>
    
    <main><form action="https://www.w3schools.com/action_page.php" method="POST" target="_blank">
        <fieldset
            style="background-color: rgb(36, 157, 173);width: 200px;margin: 20px;padding: 30px; justify-content: center; font-family: Kaushan Script; ">
            <legend>CUSTOMER LOGIN</legend>
            <br><br>Email<br>
            <input type="text" name="email" required>
            <br><br>Password<br>
            <input type="password" name="password" required>
        </fieldset>

        <br><br>
        <input type="reset" value="Reset" &nbsp;&nbsp;&nbsp;&nbsp;>
        <input type="submit" value="Submit">
    </main>    <!--customer login form-->
    
<%- include('./partials/footer.ejs'); %>
        

</body>

</html>